# Ignore everything; allow only package sources and maintained project files.
/*
!/.gitignore
!/.JuliaFormatter.toml
!/.pre-commit-config.yaml
!/Project.toml
!/README.md
!/LICENSE.md
!/CHANGELOG.md
!/CONTRIBUTING.md
!/SECURITY.md
!/CODE_OF_CONDUCT.md
!/upstream-bugs.md
!/justfile

!/src/
/src/*
!/src/*.jl

!/ext/
/ext/*
!/ext/*.jl

!/test/
/test/*
!/test/*.jl
!/test/component/
/test/component/*
!/test/component/*.jl
!/test/package/
/test/package/*
!/test/package/*.jl

!/dev/
/dev/*
!/dev/Project.toml
!/dev/*.jl

!/docs/
/docs/*
!/docs/Project.toml
!/docs/make.jl
!/docs/src/
/docs/src/*
!/docs/src/*.md

!/.github/
/.github/*
!/.github/dependabot.yml
!/.github/workflows/
/.github/workflows/*
!/.github/workflows/*.yml
